<!DOCTYPE html>
<html>

<head>
  <title>数独ソルバー</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <h1>問題</h1>
    <table class="border-table">
      <tbody>
        <tr class="" v-for="y of 9" :key="y">
          <td rowspan="" class="" v-for="x of 9" :key="x">
            <input type="number" max=9 min=1>
          </td>
        </tr>
      </tbody>
    </table>

    <h1>解答</h1>
    <suudoku></suudoku>
    <div>githubのソースコード: https://github.com/NoharaMasato/SuudokuSolver</div>
  </div>
</body>

<!-- 開発バージョン、便利なコンソールの警告が含まれています -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- 本番バージョン、サイズと速度のために最適化されています -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<script>
  //const Suudoku = require('./suudoku');
  // import Suudoku from "./components/Name";
  Vue.component('suudoku', {
    data: function () {
      return {
        problem: Array(9).fill(Array(9).fill(0))
      }
    },
    template: `
      <div>
        <table class="border-table">
          <tbody>
            <tr class="" v-for="(row, index) in problem" :key="index">
              <td rowspan="" class="" v-for="(num, index) in row" :key="index">
                {{ num }}
              </td>
            </tr>
          </tbody>
        </table>
        <button v-on:click="solve">答えを求める</button>
      </div>
    `,
    methods: {
      solve: function () {
        this.problem = Array(9).fill(Array(9).fill(1))
      },
    }
  })

  new Vue({
    el: '#app',
    data: {
      problem: Array(9).fill(Array(9).fill(0))
    },
  })
</script>

</html>